/* All styles for your header Components live here */
.top-content {
  display: flex;
  width: 1000px;
}

.top-content .logo-header {
  margin-left: 15px;
  background-image: url("./lambdalogo.png");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}

.top-content .header-content {
  margin-bottom: 20px;
  margin-left: 20px;
}

.top-content .header-content p {
  margin: 0;
}

.top-content .header-content .header-titles {
  display: flex;
}

.top-content .header-content .header-titles p {
  margin-top: 21px;
  padding-left: 15px;
  color: #a1aeb9;
}
