/* All styles for your header Components live here */
.top-content {
  display: flex;
  width: 1000px;
}

.top-content img {
  margin-top: 15px;
  margin-left: 20px;
  width: 55px;
  height: 55px;
  border: 1px solid black;
  border-radius: 50%;
}

.top-content .header-content {
  margin-bottom: 20px;
  margin-left: 20px;
}

.top-content .header-content .header-titles {
  display: flex;
}

.top-content .header-content .header-titles p {
  margin-top: 21px;
  padding-left: 15px;
  color: lightgrey;
}
