.box {
  border: 1px solid #979797;
  height: 100px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background: #a0001e;
}

.box h3 {
  font-size: 2.5rem;
}

.long-box {
  border: 1px solid #979797;
  height: 100px;
  width: 335px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.long-box h3 {
  font-size: 2.5rem;
}
